* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f5f8;
  font-family: 'Rubik', sans-serif;
}

li a {
  text-decoration: none;
}

/* init header and navigation bar */

header {
  height: 70px;
  margin: 0px 20px ;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  border-width: 90%;
  border-bottom: 1px rgba(128, 128, 128, 0.432) solid;
  align-items: center;
}

header div img {
  height: 50px;

}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu ul li {
  padding: 5px 15px;
  list-style: none;
  color: black;
}

.menu ul li:hover {
  background-color: orangered;
  color: white;
  text-decoration: none;
}

/* finish heder and navegation bar*/

/* init tittels*/
.containerTittle {
  height: 100px;
  margin: 0px 20px;
  border-bottom: 1px rgba(128, 128, 128, 0.432) solid ;
  text-align: center;
}

/* Nosotros utilizaremos el separados de secciones diseñado por nosotros (border-bottom: 1px rgba(128, 128, 128, 0.432) solid ;), ya que si tulizamos <hr> iria de lado a lado la linea y no como aparece en el ejercicio
 */

.containerTittle_principal {
  font-size: 50px;
  margin-top: 10px;
}

.containerTittle_second {
  font-size: 30px;
  color: rgba(128, 128, 128, 0.9)
}
/* finish tattles */

/* init main */
.carousel {
  height: 370px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
}
.carousel a {
  text-decoration: none;
}

.carousel_consultor {
  background-color: white;
  border: 1px  rgba(128, 128, 128, 0.432) solid ;
  margin: 25px 10px 20px 10px;
}
.carousel_consultor h3 {
  color: blue;
}

.carousel_training {
  background-color: white;
  border: 1px  rgba(128, 128, 128, 0.432) solid ;
  margin: 25px 10px 20px 10px;
}
.carousel_training h3 {
  color: aquamarine;
}

.carousel_analysis {
  background-color: white;
  border: 1px  rgba(128, 128, 128, 0.432) solid ;
  margin: 25px 10px 20px 10px;
}
.carousel_analysis h3 {
  color: yellow;
}

.carousel_investigation {
  background-color: white;
  border: 1px  rgba(128, 128, 128, 0.432) solid ;
  margin: 25px 10px 20px 10px;
}
.carousel_investigation h3 {
  color: tomato;
}

.carousel_tittle {
  padding: 10px 10px 15px 10px;
  margin: 0px 10px;
  border-bottom: 1px  rgba(128, 128, 128, 0.432) solid ;
}

.carousel img {
  width: 100%;
  height: 60%;
}

.carousel p {
  margin: 10px 0px 0px 10px;
  font-size: 14px;
  color: rgba(128, 128, 128, 0.9);
}
/* finish main */

/* init section  */
.ourWork {
  margin: 0px 20px 50px 20px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px rgba(128, 128, 128, 0.432) solid ;
}

.ourWork h3 {
  font-size: 25px;
  border-bottom: 1px rgba(128, 128, 128, 0.432) solid ;
  padding-bottom: 10px;
}

.ourWork button {
  width: 130px;
  height: 45px;
  background-color: rgb(76, 75, 75);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  grid-row: 2 / span 1;
}

.ourWork p {
  display: block;
  margin-top: 15px;
  text-align: justify;
  line-height: 150%;
}

.ourWork__greeting, .ourWork__news, .ourWork__services{
  width: 30%;
  height: 500px;
  padding: 0px 10px;
  display: grid;
  grid-template-rows: 85% 15%;
/*   utilizamos grid para acomodar los botones de manera automatica para todos al mismo tiempo */
}

.content {
  grid-row: 1 / span 1;
}

.ourWork__news__recent h4 {
  margin: 10px 0px;
  font-size: 14px;
}

.ourWork__services__links  li {
  display: block;
  padding: 10px;
  list-style: none;
}

.ourWork a {
  color: tomato;
}

/* finish section  */


